[submodule "spring-annotation-context-initializer-template"]
	path = spring-annotation-context-initializer-template
	url = git@github.com:romansen47/spring-annotation-context-initializer-template.git
	branch = master
[submodule "chess"]
	path = chess
	url = git@github.com:romansen47/chess.git
	branch = work
[submodule "chess-database"]
	path = chess-database
	url = git@github.com:romansen47/chess-database.git
	branch = work
[submodule "chess-api"]
	path = chess-api
	url = git@github.com:romansen47/chess-api.git
	branch = work
[submodule "chess-frontend"]
	path = chess-frontend
	url = git@github.com:romansen47/chess-frontend.git
	branch = work
